@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

$Dark-Blue: hsl(240, 38%, 20%)
$Grayish-Blue: hsl(240, 18%, 77%);
$Light-Grayish-Blue: hsl(207, 33%, 95%);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height:100%;
  min-height: 100vh;
  margin:0;
  height:0;
}

body {
  background-color: #fff;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  overflow-x: hidden;
}



@media screen and (max-width: 768px) {
  

}